<!DOCTYPE html>
<html>
    <head>
    </head>
    <body class="bg-light">
        <div class="container">
          <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h2>Formulario de registro de productos</h2>
            <p class="lead">Completa los datos necesarios para pode registrar un producto</p>
          </div>
          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
              </h4>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Product name</h6>
                    <small class="text-muted">Brief description</small>
                  </div>
                  <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Second product</h6>
                    <small class="text-muted">Brief description</small>
                  </div>
                  <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Third item</h6>
                    <small class="text-muted">Brief description</small>
                  </div>
                  <span class="text-muted">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                  <div class="text-success">
                    <h6 class="my-0">Promo code</h6>
                    <small>EXAMPLECODE</small>
                  </div>
                  <span class="text-success">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (USD)</span>
                  <strong>$20</strong>
                </li>
              </ul>
              <form class="card p-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Promo code">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-8 order-md-1">
              <h4 class="mb-3">Alta producto</h4>
              <form class="needs-validation" novalidate>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label>Codigo</label>
                    <input type="text" name="codigo" class="form-control" placeholder="Ingrese un codigo" [(ngModel)]="this.producto.codigo">
                    <div class="invalid-feedback">
                      Codigo es requerido.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label>Descripcion</label>
                    <input type="text" name="descripcion" class="form-control" placeholder="Ingrese una descripcion" [(ngModel)]="this.producto.descripcion">
                    <div class="invalid-feedback">
                      La descripcion es requerida.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label>Precio</label>
                  <div class="input-group">
                    <input type="number" name="precio" class="form-control" placeholder="Ingrese un precio" [(ngModel)]="this.producto.precio">
                    <div class="invalid-feedback" style="width: 100%;">
                      El precio es requerido.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label>Stock</label>
                  <input type="number" name="stock" class="form-control" placeholder="Ingresa la cantidad" [(ngModel)]="this.producto.stock">
                  <div class="invalid-feedback">
                    El stock es requerido.
                  </div>
                </div>
                <div class="mb-3">
                  <label>Pais de origen: </label>
                  <app-listado-paises (paisSeleccionado)="this.ObtenerPais($event)"></app-listado-paises>
                  <br>
                  <img *ngIf="this.producto.pais.imagen != ''" [src]="this.producto.pais.imagen" width="150px" height="100px" name="imagen">
                  <div class="invalid-feedback">
                    Ingresa un pais.
                  </div>
                </div>
                <div class="mb-3">
                  <label>Comestible</label>
                  <input type="checkbox" name="checkbox" class="form-control" [(ngModel)]="this.producto.comestible">
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="button" (click)="this.RegistrarProducto()">Registrar producto</button>
                <input class="btn btn-primary btn-lg btn-block" type="button" value="Volver a la lista" [routerLink]="['/productos']">
              </form>
            </div>
          </div>
          <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; Octavio Bill Zito</p>
          </footer>
        </div>
      </body>
</html>
