<h1>Listado de productos</h1>

<table>
    <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
    </tr>
    <tr *ngFor="let i of this.ServicioProducto.productos;">
        <ng-container  *ngIf="i.stock > 0">
            <td>{{i.codigo}}</td>
            <td>{{i.descripcion}}</td>
        </ng-container>
    </tr>
</table>


<h4>Solo se muestran los componentes con stock mayor a 0</h4>
<input type="button" value="Bienvenido" [routerLink]="['/bienvenida']">
<input type="button" value="Login" [routerLink]="['/login/iniciar-sesion']">
