<div style="text-align: center;">
    <h1>Componente Bienvenido</h1>
    <br>
    <label>Datos de github traidos con https</label>
    <br>
    <div>
        <label>ID: {{this.usuario.id}}</label>
        <br>
        <label>Nombre: {{this.usuario.name}}</label>
        <br>
        <label>Email: {{this.usuario.email}}</label>
        <br>
        <label>Username: {{this.usuario.username}}</label>
        <br>
        <img [src]="this.usuario.src" width="100px" height="100px">
        <br>
        <input type="button" value="Login" [routerLink]="['/login/iniciar-sesion']">
    </div>
</div>

